.compare {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-evenly;
}

.compare__or {
  align-self: center;
  font-weight: bold;
  font-size: 5vh;
}

/* Dont use span directly otherwise it will affect other span tags in other js files as well */
/* Wrong -> span {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
} */
.compare__show {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
  .compare {
    flex-direction: column;
  }
  .compare__show {
    width: 70vw;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
