.filters {
  margin-bottom: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
}

.filters > button {
  border-radius: 0.7em;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.6vh;
  padding-bottom: 0.6vh;
  font-weight: bold;
  font-size: 4vh;
  justify-content: space-between;
}

.selected {
  background-color: red;
  border: 1px solid red;
  color: white;
}

.not-selected {
  background-color: white;
  border: 1px solid red;
  color: red;
}

.filters__shows {
  margin-right: 5vw;
}

.filters__anime {
  margin-left: 5vw;
}

@media (max-width: 480px) {
  .filters > button {
    font-size: 2.5vh;
  }
  .filters {
    margin-bottom: 0.3vh;
    padding-top: 3%;
  }
}

