.header {
  background-color: red;
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.header__name {
  color: white;
  font-weight: bold;
  font-size: 4.8vh;
  margin-top: auto;
  margin-bottom: auto;
}
