.header {
  background-color: #e91e63;
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.header__title {
  background-color: #e91e63;
  width: 25vw;
  object-fit: contain;
}

.header__link:hover {
  text-decoration: none;
}
