.header {
  background-color: #e91e63;
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.header__title {
  background-color: #e91e63;
  width: 25vw;
  object-fit: contain;
}

.header__link:hover {
  text-decoration: none;
}

@media (max-width: 720px) {
  .header__title {
    width: 43vw;
  }
}

@media (max-width: 480px) {
  .header__title {
    width: 45vw;
  }
}
