.home {
  overflow-x: hidden;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__question {
  font-weight: bold;
  font-size: 4.2vw;
}

.home__filters {
  margin-top: -2vh;
}

.home__options {
  display: flex;
  margin-top: 2%;
}

button {
  background-color: white;
  border: 1px solid #e91e63;
  color: #e91e63;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-weight: bold;
}

.home__skip {
  margin-right: 2vw;
  border-radius: 1em;
  font-size: 3vh;
}

.home__ranking {
  margin-right: 2vw;
  border-radius: 1em;
  font-size: 3vh;
}

.home__feedback {
  border-radius: 1em;
  font-size: 3vh;
}

.home__skip:hover,
.home__ranking:hover,
.home__feedback:hover {
  background-color: #e91e63;
  color: white;
}

@media (max-width: 768px) {
  .home__question {
    font-size: 6vw;
  }

  .home__options {
    margin-top: 5%;
  }
}

@media (max-width: 480px) {
  .home {
    padding-bottom: 4.7vw;
  }

  .home__question {
    font-weight: bold;
    font-size: 7vw;
  }

  .home__options {
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  .home__skip,
  .home__ranking,
  .home__feedback {
    font-size: 5vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
