.loading {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45%;
  right: 42%;
}

.loading__imgCircle {
  z-index: -1;
  margin-top: 2.4vw;
  height: 3vw;
  /* background-color: teal; */
  animation: rotation 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loading__imgSymbol {
  background-color: #e91e63;
  height: 0.8vw;
  position: absolute;
  right: 12.94vw;
  top: 3.55vw;
  /* background-color: teal; */
}

/* .loading__img {
  margin-left: auto;
  margin-right: auto;
  height: 5vw;
  width: 5vw;
  animation: rotation 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
} */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading__name {
  z-index: 1;
  font-family: Centaur;
  font-weight: bold;
  font-size: 5vw;
  /* color: #e91e63; */
  color: black;
}

.loading__nameContainer {
  display: flex;
}

@media (max-width: 768px) {
  .loading {
    right: 32%;
  }

  .loading__name {
    font-size: 10vw;
  }

  .loading__imgCircle {
    margin-top: 5.45vw;
    height: 5.5vw;
  }

  .loading__imgSymbol {
    right: 25.9vw;
    top: 7.51vw;
    height: 1.3vw;
  }
}

@media (max-width: 480px) {
  .loading {
    right: 30%;
  }

  .loading__name {
    font-size: 11vw;
  }

  .loading__imgCircle {
    margin-top: 6.6vw;
    height: 5.5vw;
  }

  .loading__imgSymbol {
    right: 29.3vw;
    top: 8.6vw;
    height: 1.4vw;
  }
}
