.loading {
  /* background-color: teal; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45%;
  right: 42%;
}

.loading__imgCircle {
  margin-top: 2.4vw;
  height: 3vw;
  /* background-color: teal; */
  animation: rotation 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loading__imgSymbol {
  height: 0.8vw;
  position: absolute;
  right: 12.94vw;
  top: 3.55vw;
  /* background-color: teal; */
}

/* .loading__img {
  margin-left: auto;
  margin-right: auto;
  height: 5vw;
  width: 5vw;
  animation: rotation 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
} */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading__name {
  font-family: Centaur;
  font-weight: bold;
  font-size: 5vw;
  color: #e91e63;
}

.loading__nameContainer {
  display: flex;
}
