.ranking {
  background-color: #f8f8f8;
}

.ranking__carousel {
  margin-left: auto;
  margin-right: auto;
  width: 55vw;
  height: 50vh;
}

.carousel__img {
  width: 55vw;
  height: 53vh;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 480px) {
  .ranking__carousel {
    margin-left: -3.5vw;
    width: 100vw;
    height: 40vh;
  }

  .carousel__img {
    width: 100vw;
    height: 40vh;
  }
}
