.rankShow {
  display: flex;
  vertical-align: middle;
  background-color: white;
  border-radius: 2em;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 3vh;
  /* border: 1px solid; */
}

.rankShow__rank {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 6vh;
}

.rankShow__img {
  border-radius: 1em;
  background-color: red;
  width: 16vw;
  height: 20vh;
  object-fit: cover;
  object-position: center;
}

.rankShow__name {
  margin-left: 5vw;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 6vh;
}
