.rankShow {
  display: flex;
  vertical-align: middle;
  background-color: white;
  border-radius: 2em;
  padding: 1%;
  margin-bottom: 3vh;
  /* border: 1px solid; */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.rankShow__rank {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 6vh;
}

.rankShow__img {
  border-radius: 1em;
  width: 16vw;
  height: 20vh;
  object-fit: cover;
  object-position: center;
}

.rankShow__name {
  margin-left: 5vw;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 6vh;
}


@media (max-width: 480px) {
  .rankShow__rank {
    font-size: 5vh;
  }

  .rankShow__img {
    border-radius: 1em;
    width: 40vw;
    height: 20vh;
    object-fit: cover;
    object-position: center;
  }

  .rankShow__name {
    margin-left: 6vw;
    font-size: 5vh;
  }

  .rankShow {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-top: 2vh;
    /* border: 1px solid; */
  }
}

