.show {
  display: flex;
  flex-direction: column;
}

.show:hover {
  cursor: pointer;
}

.show > img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.show > h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
