.show {
  display: flex;
  flex-direction: column;
}

.show:hover {
  cursor: pointer;
}

.show__img {
  width: 35vw;
  height: 40vh;
  object-fit: cover;
  object-position: center;
}

.show__name {
  font-weight: bold;
  align-self: center;
  font-size: 6vh;
}
