.show {
  display: flex;
  flex-direction: column;
}

.show:hover {
  cursor: pointer;
}

.show__img {
  width: 37vw;
  height: 38vh;
  object-fit: cover;
  object-position: center;
}

.show__name {
  text-align: center;
  font-weight: bold;
  align-self: center;
  font-size: 2vw;
}

.show__name_div{
  background-color: brown;
}

@media (max-width: 768px) {
  .show__name {
    font-size: 3.5vw;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    text-align: center;
  }
  .show__img {
    width: 42vw;
    height: 48vh;
    border-radius: 2%;
  }
}

@media (max-width: 480px) {
  .show__name {
    font-size: 4.5vw;
    margin-bottom: 1%;
    margin-top: 1%;
  }
  .show__img {
    width: 70vw;
    height: 25vh;
    border-radius: 2%;
  }
}
